<header>
  <div class="row">
    <div class="six columns login">
      {% if customer %}
        Welcome, {{ customer.first_name }}!
        <a href="{{ site_url('logout') }}">Logout</a>
      {% else %}
        <a href="{{ site_url('login') }}">Login or Register</a>
      {% endif %}
    </div>
    <div class="six columns">
      <div class="row">
        <div class="seven columns">
          {{ open_form({'class': 'search', 'method': 'get', 'action': site_url('search')}) }}
            <input type="text" name="query" value="{{query|unescape}}" placeholder="Search store&hellip;"/>
          {{ close_form() }}
        </div>
        <div class="five columns" id="mini-cart">{{ partial('shop-minicart') }}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="four columns logo-container">
        <a href="{{ site_url('/') }}"><img src="{{ theme.logoImage.thumbnail('auto', 'auto') }}" alt="" class="logo"></a>
    </div>
    <div class="eight columns header-menu-bar">
      {{ widget_block("header-menu") }}
      <ul class="nav-bar">
        {% set active_page = globals.active_page|default('home') %}
        <li class="{{ active_page == 'home' ? 'active' : null }}"><a href="{{ site_url('/') }}">Home</a></li>
        <li class="{% if categories.count %}has-flyout{% endif %} {{ active_page == 'shop' ? 'active' : null }} right-border-li">
          <a href="{{ site_url('shop') }}">Shop</a>
          {% if categories.count %}
              <a class="flyout-toggle" href="{{ site_url('shop') }}"><span> </span></a>
              <ul class="flyout" style="display: none;">
                {% tree categories %}
                    {% for category in tree.items %}
                        <li><a href="/category/{{ category.fullUrlName }}">{{ category.name }}</a></li>
                    {% endfor %}
                {% endtree %}
              </ul>
          {% endif %}
        </li>
        <li class="menu-item-seperator"></li>
        {% if customer %}
          <li class="has-flyout {{ active_page == 'profile' or 
                                   active_page == 'orders' or 
                                   active_page == 'subscriptions' ? 'active' : null }} right-border-li">
            <a href="{{ site_url('profile') }}">Profile</a>
            <a class="flyout-toggle" href="{{ site_url('profile') }}"><span> </span></a>
            <ul class="flyout" style="display: none;">
              <li><a href="/orders">My Orders</a></li>
              {% if customer.hasSubscriptions %}
                <li><a href="/subscriptions">My Subscriptions</a></li>
              {% endif %}
            </ul>
          </li>
          <li class="menu-item-seperator"></li>
        {% endif %}
      </ul>
    </div>
    <div class="header-menu-bar-mobile">
      <div class="icon"><a href="javascript:void(0)">&#9776;</a></div>
      <div class="header-menu-bar-mobile-dropdown">
        <ul>
          <li><a href="{{ site_url('/') }}">Home</a></li>
          <li><a href="{{ site_url('shop') }}">Shop</a></li>
          <li class="mobile-subnav">
            {% if categories.count %}
              <ul>
                {% tree categories %}
                    {% for category in tree.items %}
                        <li><a href="/category/{{ category.fullUrlName }}">{{ category.name }}</a></li>
                    {% endfor %}
                {% endtree %}
              </ul>
            {% endif %}
          </li>
        </li>
        {% if customer %}
          <li><a href="{{ site_url('orders') }}">My Orders</a></li>
          <li><a href="{{ site_url('profile') }}">My Profile</a></li>
        {% endif %}
        </ul>
        {{ widget_block("header-menu") }}
      </div>
    </div>
  </div>
  {% if titleArea %}
    <div class="row secondhead">
      <div class="twelve columns omega">
        {% if page.name == "Product" %}
          <div id="breadcrumbs-area" class="product left">{{ code_block('breadcrumbs') }}</div>
          <div class="right"></div>
        {% elseif page.name == "Subscription" %}
          <div id="breadcrumbs-area"><h2 class="left">{{ page.title }} ID: {{subscription.id}}</h2></div>
        {% else %}
          <div id="breadcrumbs-area"><h2 class="left">{{ page.title }}</h2></div>
          <div class="right">
            {{ code_block('breadcrumbs') }}
          </div>
        {% endif %}
        <div class="clear"></div>
      </div>
    </div>
  {% endif %}
</header>