<header>
  <div class="row topline">
    <div class="six columns login">
      {% if customer %}
        Welcome, {{ customer.first_name }}!
        <a href="{{ site_url('logout') }}">Logout</a>
      {% else %}
        <a href="{{ site_url('login') }}">Login or Register</a>
      {% endif %}
    </div>
    <div class="six columns">
      <div class="row">
        <div class="seven columns">
          {{ open_form({'class': 'search', 'method': 'get', 'action': site_url('search')}) }}
            <input type="text" name="query" value="{{query|unescape}}" placeholder="Search store&hellip;"/>
          {{ close_form() }}
        </div>
        <div class="five columns" id="mini-cart">{{ partial('shop-minicart') }}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <h1 class="four columns">Company Name Here</h1>
    <div class="eight columns">
      <ul class="nav-bar">
        {% set active_page = globals.active_page|default('home') %}
        <li class="{{ active_page == 'home' ? 'active' : null }}"><a href="{{ site_url('/') }}">Home</a></li>
        <li class="{% if categories.count %}has-flyout{% endif %} {{ active_page == 'shop' ? 'active' : null }}">
          <a href="{{ site_url('shop') }}">Shop</a>
          {% if categories.count %}
              <a class="flyout-toggle" href="{{ site_url('shop') }}"><span> </span></a>
              <ul class="flyout" style="display: none;">
                {% tree categories %}
                    {% for category in tree.items %}
                        <li><a href="/category/{{ category.fullUrlName }}">{{ category.name }}</a></li>
                    {% endfor %}
                {% endtree %}
              </ul>
          {% endif %}
        </li>
        {% if customer %}
          <li class="{{ active_page == 'orders' ? 'active' : null }}"><a href="{{ site_url('orders') }}">My Orders</a></li>
          <li class="{{ active_page == 'profile' ? 'active' : null }}"><a href="{{ site_url('profile') }}">My Profile</a></li>
        {% endif %}
        <li class="{{ active_page == 'about' ? 'active' : null }}"><a href="{{ site_url('about') }}">About</a></li>
        <li class="{{ active_page == 'contact' ? 'active' : null }}"><a href="{{ site_url('contact') }}">Contact</a></li>
      </ul>
    </div>
  </div>
  
  {% if titleArea %}
    <div class="row secondhead">
      <div class="twelve columns omega">

        <div id="breadcrumbs-area"><h2 class="left">{{ page.title }}</h2></div>
        <div class="right">
          {{ code_block('breadcrumbs') }}
        </div>
        <div class="clear"></div>
      </div>
    </div>
  {% endif %}
</header>