{{ code_block('setup') }}

<meta charset="utf-8" />

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="Description" content="{{ page.description }}"/>
<meta name="Keywords" content="{{ page.keywords }}"/>

<title>{{ page.title }}</title>

<link rel="stylesheet" type="text/css" href="/cms/core.css">
<link rel="stylesheet" type="text/css" href="{{ 'css/foundation.min.css'|theme_resource }}">
<link rel="stylesheet" type="text/css" href="{{ 'css/style.css'|theme_resource }}">

<script type="text/javascript" src="{{ 'javascript/jquery.js'|theme_resource }}"></script>
<script type="text/javascript" src="{{ 'javascript/modernizr.foundation.js'|theme_resource }}"></script>
<script type="text/javascript" src="{{ 'javascript/foundation.min.js'|theme_resource }}"></script>
<script type="text/javascript" src="{{ 'javascript/app.js'|theme_resource }}"></script>
<script type="text/javascript" src="/cms/core.js"></script>