---
description: 'Payment form partial for Test Payment payment method'
---

    <input type="hidden" name="payment_method_id" value="{{ paymentMethod.id}}">
    <div class="form-row">
        <div class="form-col2 left">
            <span class="form-title required">Cardholder First Name:</span>
            <input type="text" name="FIRSTNAME">
        </div>
        <div class="form-col2 right">
            <span class="form-title required">Cardholder Last Name:</span>
            <input type="text" name="LASTNAME">
        </div>
    </div>

    <div class="form-row">
        <div class="form-col2-l">
            <span class="form-title required">Card Number (4111111111111111):</span>
            <input type="text" name="ACCT" autocomplete="off">
        </div>
        <div class="form-col2-s">
            <span class="form-title required">Security Code:</span>
            <input type="text" name="CVV2" autocomplete="off">
        </div>
    </div>

    <div class="form-row">
        <div class="form-col2 left">
            <span class="form-title required">Expiry Month:</span>
            <input type="text" name="EXPDATE_MONTH">
        </div>
        <div class="form-col2 right">
            <span class="form-title required">Expiry Year:</span>
            <input type="text" name="EXPDATE_YEAR">
        </div>
    </div>
    <div class="form-row">
        <input type="submit" value="Pay" class="nextButton button">
    </div>