{{ flash() }}

{% if itemCount %}
  <div class="row">
    {{ partial('shop-cart-items', {'edit_cart': true}) }}
  </div>
  
  <div class="row">
    <!-- shipping estimate calculator... how to do this? -->
    <div class="six columns" style="display:none">
      <h3>Shipping rates calculator</h3>

      <div class="row">
        <div class="four columns">
          <label for="country">Country</label>
          <!-- 
            The state selector updates automatically when the country changes. 
            See app.js for the implementation details. 
          -->
          <select id="country" name="country" data-state-select="state" data-current-state="{{ shipping_info.state }}">
            {% for country in countries %}
              <option value="{{ country.id }}" {{ option_state(country.id, shipping_info.country) }}>{{ country.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="four columns">
          <label for="state">State</label>
          <select id="state" name="state"> 
            {# partial('shop-stateoptions', {'states': states, 'current_state': shipping_info.state}) #}
          </select>
        </div>
    
        <div class="four columns">
          <label for="zip">Zip/Postal Code</label>
          <input name="zip" type="text" value="{{ shipping_info.zip }}"/>
        </div>
      </div>
      
      <a class="button" href="#" data-ajax-handler="shop:onEvalShippingRate" data-ajax-update="#shipping_options=shopestimatedshippingoptions">Calculate</a>
        
      <div id="shipping_options"></div>
    </div>
    
    <div class="three columns offset-by-three data-list align-right">
      {% if totals.discountTotal > 0 %}
        <p><strong>Coupon discount:</strong> <i>{{ totals.discountTotal|currency }}</i></p>
      {% endif %}
      <p><strong>Cart total:</strong> <i>{{ totals.subtotal|currency }}</i></p>
      {% if totals.totalShippingQuote > 0 %}
        <p><strong>Shipping:</strong> <i>{{ totals.totalShippingQuote|currency }}</i></p>
      {% endif %}
      <p class="subtotal"><strong>Estimated total:</strong>  <i>{{ totals.total|currency }}</i></p>
    </div>
  </div>  
  <div class="row">
    <div class="buttons-block">
      <div class="six columns">
        <a class="secondary button" href="{{ site_url('shop') }}">Continue shopping</a>
      </div>
      <div class="six columns">
        <div class="right">
          <input type="text" id="coupon" name="coupon" value="{{ coupon_code }}" placeholder="Coupon code" />
        
          <a class="secondary button" href="#" data-ajax-handler="shop:cart" data-ajax-update="#cart-content=shop-cart-content, #mini-cart=shop-minicart">Update cart</a>
          {% if customer %}
            <a class="button" href="{{ site_url('/checkout') }}">Checkout</a>
          {% else %}
            <a class="button" href="{{ site_url('/checkout-start') }}">Checkout</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% else %}
  <div class="row">
    <div class="six columns">
      <a class="secondary button" href="{{ site_url('shop') }}">Your cart is empty! Continue shopping.</a>
    </div>
  </div>
{% endif %}
