{% if customer.hasCards() %}
    <div class="six columns">
      {{ flash() }}
      <h3>Update Card</h3>
      {% for card in customer.cards %}
        {{ customerCardForm('update', { card: card }, {
            'data-ajax-update': "#profile-addresses=shop-customerprofile,#profile-changepassword=shop-changepassword,#profile-add-card=shop-customerprofile-add-card,#profile-delete-cards=shop-customerprofile-delete-cards,#profile-update-cards=shop-customerprofile-update-cards"
        }) }}
      {% endfor %}
    </div>
{% endif %}
