{% if cart %}
  {{ partial('shop-cart-items') }}

  <div class="row">
    <div class="six columns">
      {% if order.payment_processed %}
        <p class="flash info"><strong>Thank you!</strong> The payment is already processed for this order.</p>
      {% else %}
        <div class="row">
          <div class="twelve columns">
          <!-- Example - stored cards as Radio buttons -->
            {% if cards is defined %}
                <div class="row">
                    <form method="post" data-ajax-handler="shop:onPay">
                        {% for card in cards %}
                        <div class="row">
                              <label for="card-{{ card.id }}">{{ card.card_brand_method }} </label>
                              <input class="custom-radio" name="payment_method_token" value="{{ card.token }}" type="radio" id="card-{{ card.id }}" />
                              <input type='hidden' name='payment_method_id' id='payment_method_id' value='{{ card.paymentMethod.id }}'>
                        </div>
                        {% endfor %}
                        <input type="submit" value="Pay with Stored Card" class="button">
                    </form>
                </div>
            {% endif %}
            <!-- End Cards -->
            <!-- Example - Drop-In Twig Helper - Gets Default Method -->
                {{ paymentForm(
                    {
                        options: {
                            number: {
                                type: 'number',
                                placeholder: 'Card numbero'
                            },
                            cvv: {
                                placeholder: 'CVVee'
                            },
                            full_name: {
                                placeholder: 'Cardholder name'
                            },
                            expiry: {
                                placeholder: 'MM/YYYY'
                            },
                            submit: {
                                value: 'Pay via Credit Card'
                            },
                            save_card: true
                        }
                    },
                    paymentMethod
                ) }}
            <!-- End Default Payment Form -->
            <label for="payment_method">Payment method</label>
            <!-- 
              The payment form below (id="payment_form") automatically updates when
              the payment method is changed. See app.js for the implementation details. 
            -->
            {{ open_form({'class': 'custom'}) }}
              <select name="paymentMethodId" id="payment_method">
                <option value=''> - </option>
                {% for method in paymentMethods %}
                    <option value="{{ method.id }}">{{ method.name }}</option>
                {% endfor %}
              </select>
            </form>
          </div>
        </div>
        <div class="row">
          <div id="payment_form">{{ partial('shop-paymentform') }}</div>
        </div>
      {% endif %}
    </div>
  
    <div class="three columns offset-by-two data-list align-right">
      {{ partial('shop-checkout-totals') }}
    </div>
  </div>
  
{% else %}
  <p class="flash error">Order not found.</p>
{% endif %}