{% set on_sale = product.onSale %}

<div class="six columns">
  <div class="item-images">
    <div class="big-image">
      <img src="{{ product.images.first.thumbnail(746, 'auto')|default('http://placehold.it/460x300') }}" alt="{{ product.name }}"/>
    </div>
    
    {% if product.images.count > 1 %}
    <ul class="row">
      {% for image in product.images %}
        <li class="four columns mobile-two"><a href="{{ image.thumbnail(746, 'auto') }}"><img src="{{ image.thumbnail(367, 367) }}"/></a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
<div class="six columns description">
  <div class="short-description {{ on_sale ? 'sale' : null }}">
    <h2>{{ product.name }}</h2>
    <span>
      <a href="#"><i> <!-- Remove the link here -->
        {% if on_sale %}
         <span class="oldprice">{{ product.fullPrice|currency }}</span>
        {% endif %}
        {{ product.price|currency }}
      </i></a>
    </span>
  </div>

  {{ partial('shop-product-attributes') }}
  {{ partial('shop-product-options') }}

  {% if product.enabled %}
    {% if not product.isOutOfStock() %}
      {{ flash() }}
      <label class="title" for="customDropdown">Quantity</label>
      
      <div class="row add-to-cart-block">
        <div class="four columns">
          <input type="text" value="{{ quantity|default("1") }}" name="quantity"/>
        </div>
        <div class="four mobile-four columns left">
          <input type="hidden" name="productId" value="{{ product.id }}"/>
          <a class="button" href="#" data-ajax-handler="shop:onAddToCart" data-ajax-update="#mini-cart=shop-minicart, #product-page=shop-product">Add to Cart</a>
        </div>
      </div>
    {% else %}
      <div class="not-available">
        <p>
          This product is temporarily unavailable.
        </p>
      </div>
    {% endif %}
  {% else %}
    <div class="not-available"><p>This product is not available.</p></div>
  {% endif %}
  
  {% if product.description %}
    <h3>Description</h3>
    {{ product.description|unescape }}
  {% endif %}

</div>