<table class="product-list full-width">
  <tr>
    <th>Item</th>
    <th class="narrow">Quantity</th>
    <th class="narrow">Price</th>
    {% if invoice.getDiscountTotal() > 0 %}
      <th class="narrow">Discount</th>
      <th class="narrow">Unit Price</th>
    {% endif %}
    <th class="narrow">Total</th>
  </tr>
  {% for shipment in invoice.shipments %}
    {% for item in shipment.shipmentItems %}
    <tr>
      <td>
        <a class="hide-for-small" href="/product/{{ item.product.url_name }}"><img src="{{ item.product.images.first.thumbnail(80, 80)|default('http://placehold.it/80x80') }}"/></a>
        <div class="short-description">
          <h3><a href="/product/{{ item.product.url_name }}">{{ item.product.name }}</a></h3>
          
          {% set description = item.optionsString() %}
          {% if description %}<p>{{ description|unescape }}</p>{% endif %}
        </div>
      </td>
      <td class="narrow"><i>{{ item.quantity|number_format(0) }}</i></td>
      <td class="narrow"><i>{{ item.base_price|currency }}</i></td>
      {% if invoice.getDiscountTotal() > 0 %}
        <td class="narrow"><i>{{ item.totalDiscount()|currency }}</i></td>
        <td class="narrow"><i>{{ item.pivot.price|currency }}</i></td>
      {% endif %}
      <td class="narrow"><i>{{ (item.quantity *item.pivot.price)|currency }}</i></td>
    </tr>
    {% endfor %}
  {% endfor %}
</table>