---
action: 'shop:customerProfile'
template: inner
protocol: all
published: true
name: Profile
url: /profile
---
<div class="row">
  <div class="content twelve columns">
    {% if customer %}
      <section id="profile-addresses">
      {{ partial('shop-customerprofile') }}
      </section>
      <div class="row" id="profile-changepassword">
        {{ partial('shop-changepassword') }}
      </div>
      <!-- Using hasFeature helper method to check whether card variables should be accessed. -->
      {% if hasFeature('saved-cards') %}
          <div class="row" id="profile-add-card">
            {{ partial('shop-customerprofile-add-card') }}
          </div>
          <div class="row" id="profile-delete-customer-cards">
              <!-- Render delete buttons for existing customer cards -->
              {{ partial('shop-customerprofile-delete-cards') }}
          </div>
      {% endif %}
    {% else %}
      Please <a href="{{ root_url('login') }}">login</a> to edit your profile.
    {% endif %}
  </div>
</div>